<h1>Tons Of Data</h1>

<h3>Search for existing data on a summoner or add a new one</h3>

<div class=forms>
<form method="GET" action="">
	Add Summoner Name: <input type="text" name="summoner" value="">
	<input type="submit" value="Add Summoner!">
</form>

{{info}}
{{error}}
<form method="POST" action="summData">
	View A Summoner's Data: <input type="text" name="newsummoner" value="">
	<input type="submit" value="View Summoner!"
</form>
</div>

{{existing}}

{{#if newUser}}
<div id=userDisplay>
{{newUser}}
</br>
</br>
{{newUser.level}}
</div>
{{/if}}

</br>
<p class=none>{{NOPE}}</p>
<p class=none>{{NOPE2}}</p>