
<hr>
</br>
<form method="POST" action="summData">
	View A Summoner's Data: <input type="text" name="newsummoner" value="">
	<input type="submit" value="View Summoner!">
</form>


{{#if ele}}
	<p>Summoner Name: {{ele.name}}</p>
	<h3>LeveL: {{ele.level}}</h3>
	<div class="gameResult">
		{{#each ele.games}}
			<div class="gameStat">
			User ID: {{this.id}}
			</div>

			<div class="gameStat">
			Game ID: {{this.gameId}}
			</div>
			
			<div class="gameStat">
			Champion ID:Champion: {{this.championId}}
			</div>
			
			<div class="gameStat">
			{{#if this.result}}
			Game Result: Win
			{{else}}
			GameResult: Loss
			{{/if}}
			</div>
			
			<div class="gameStat">
			Champion: {{this.championName}}
			</div>
			
			</br>
			<div class="Clearer"></div>
		{{/each}}
	</div>
{{/if}}

<p></p>
{{NOPE}}
<p></p>
{{NOPE2}}